In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import cKDTree

In [2]:
train=pd.read_csv("Data/Train.csv")
test=pd.read_csv("Data/Test.csv")
waste=pd.read_csv("Data/waste_management.csv")
water=pd.read_csv("Data/water_sources.csv")
toilet=pd.read_csv("Data/toilets.csv")

In [3]:
train.head()

,ID,Total,Location,Category_Health_Facility_UUID,Disease,Month,Year,Transformed_Latitude,Transformed_Longitude
0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Dysentery,12,2022,-8.62982,68.23267
1,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Typhoid,12,2022,-8.62982,68.23267
2,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
3,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
4,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267

In [4]:
test.head()

,Location,Disease,Month,Category_Health_Facility_UUID,Year,Transformed_Latitude,Transformed_Longitude,ID
0,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,1,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_1_2023...
1,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,2,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_2_2023...
2,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,3,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_3_2023...
3,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,4,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_4_2023...
4,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,5,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_5_2023...

In [17]:
waste.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.58518,68.25058,1_2019,-8.58518_68.25058,1_2019_-8.58518_68.25058
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.58518,68.25058,2_2019,-8.58518_68.25058,2_2019_-8.58518_68.25058
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.58518,68.25058,3_2019,-8.58518_68.25058,3_2019_-8.58518_68.25058
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.58518,68.25058,4_2019,-8.58518_68.25058,4_2019_-8.58518_68.25058
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.58518,68.25058,5_2019,-8.58518_68.25058,5_2019_-8.58518_68.25058

In [18]:
water.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.57424,68.23761,1_2019,-8.57424_68.23761,1_2019_-8.57424_68.23761
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.57424,68.23761,2_2019,-8.57424_68.23761,2_2019_-8.57424_68.23761
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.57424,68.23761,3_2019,-8.57424_68.23761,3_2019_-8.57424_68.23761
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.57424,68.23761,4_2019,-8.57424_68.23761,4_2019_-8.57424_68.23761
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.57424,68.23761,5_2019,-8.57424_68.23761,5_2019_-8.57424_68.23761

In [19]:
toilet.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.61768,68.24536,1_2019,-8.61768_68.24536,1_2019_-8.61768_68.24536
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.61768,68.24536,2_2019,-8.61768_68.24536,2_2019_-8.61768_68.24536
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.61768,68.24536,3_2019,-8.61768_68.24536,3_2019_-8.61768_68.24536
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.61768,68.24536,4_2019,-8.61768_68.24536,4_2019_-8.61768_68.24536
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.61768,68.24536,5_2019,-8.61768_68.24536,5_2019_-8.61768_68.24536

In [20]:
train.head()

,ID,Total,Location,Category_Health_Facility_UUID,Disease,Month,Year,Transformed_Latitude,Transformed_Longitude
0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Dysentery,12,2022,-8.62982,68.23267
1,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Typhoid,12,2022,-8.62982,68.23267
2,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
3,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
4,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267

In [21]:
train.dtypes

ID                                object
Total                            float64
Location                          object
Category_Health_Facility_UUID     object
Disease                           object
Month                              int64
Year                               int64
Transformed_Latitude             float64
Transformed_Longitude            float64
dtype: object

In [22]:
print("Train Null Values",train.isna().sum().max())
print("Test Null Values",test.isna().sum().max())
print("Waste Null Values",waste.isna().sum().max())
print("Water Null Values",water.isna().sum().max())
print("Toilet Null Values",toilet.isna().sum().max())

Train Null Values 1
Test Null Values 0
Waste Null Values 0
Water Null Values 60
Toilet Null Values 0

In [23]:
train.dropna(inplace=True)
water.dropna(inplace=True)

In [24]:
print("Train Null Values",train.isna().sum().max())
print("Test Null Values",test.isna().sum().max())
print("Waste Null Values",waste.isna().sum().max())
print("Water Null Values",water.isna().sum().max())
print("Toilet Null Values",toilet.isna().sum().max())

Train Null Values 0
Test Null Values 0
Waste Null Values 0
Water Null Values 0
Toilet Null Values 0

In [25]:
train.drop_duplicates(inplace=True)

In [26]:
support_data=pd.concat([water,waste,toilet])

In [27]:
support_data.drop_duplicates(inplace=True)

In [28]:
support_data

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.57424,68.23761,1_2019,-8.57424_68.23761,1_2019_-8.57424_68.23761
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.57424,68.23761,2_2019,-8.57424_68.23761,2_2019_-8.57424_68.23761
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.57424,68.23761,3_2019,-8.57424_68.23761,3_2019_-8.57424_68.23761
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.57424,68.23761,4_2019,-8.57424_68.23761,4_2019_-8.57424_68.23761
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.57424,68.23761,5_2019,-8.57424_68.23761,5_2019_-8.57424_68.23761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10675,2023,8,-1.061380,0.675710,288.460,295.099,-0.000677,-0.000308,-0.000223,-1.443550e-08,...,0.000594,0.155685,0.168686,0.236588,0.259644,-8.59593,68.23866,8_2023,-8.59593_68.23866,8_2023_-8.59593_68.23866
10676,2023,9,-1.492400,0.370181,288.811,296.438,-0.000563,-0.000205,-0.000129,-1.536680e-08,...,0.000326,0.126663,0.151276,0.210449,0.255463,-8.59593,68.23866,9_2023,-8.59593_68.23866,9_2023_-8.59593_68.23866
10677,2023,10,-1.590750,-0.011850,290.337,297.348,-0.000609,-0.000397,-0.000269,-1.769510e-08,...,0.001119,0.171036,0.149673,0.190552,0.250702,-8.59593,68.23866,10_2023,-8.59593_68.23866,10_2023_-8.59593_68.23866
10678,2023,11,-0.877717,0.175140,292.987,296.130,-0.001009,-0.000476,-0.000677,-1.327130e-08,...,0.003242,0.348724,0.322006,0.202789,0.247269,-8.59593,68.23866,11_2023,-8.59593_68.23866,11_2023_-8.59593_68.23866
10679,2023,12,-1.020420,-0.517984,293.889,297.520,-0.001427,-0.000598,-0.000564,-1.722950e-08,...,0.002667,0.325867,0.325302,0.281708,0.245850,-8.59593,68.23866,12_2023,-8.59593_68.23866,12_2023_-8.59593_68.23866

In [29]:
support_data.columns

Index(['Year', 'Month', '10u', '10v', '2d', '2t', 'evabs', 'evaow', 'evatc',
       'evavt', 'albedo', 'lshf', 'lai_hv', 'lai_lv', 'pev', 'ro', 'src',
       'skt', 'es', 'stl1', 'stl2', 'stl3', 'stl4', 'ssro', 'slhf', 'ssr',
       'str', 'sp', 'sro', 'sshf', 'ssrd', 'strd', 'e', 'tp', 'swvl1', 'swvl2',
       'swvl3', 'swvl4', 'Transformed_Latitude', 'Transformed_Longitude',
       'Month_Year', 'lat_lon', 'Month_Year_lat_lon'],
      dtype='object')

In [30]:
columns_to_prefix = ['Year', 'Month','Transformed_Latitude','Transformed_Longitude','Month_Year','lat_lon','Month_Year_lat_lon']
support_data.columns = [f'support_{col}' if col in columns_to_prefix else col for col in support_data.columns]

In [31]:
support_data.columns

Index(['support_Year', 'support_Month', '10u', '10v', '2d', '2t', 'evabs',
       'evaow', 'evatc', 'evavt', 'albedo', 'lshf', 'lai_hv', 'lai_lv', 'pev',
       'ro', 'src', 'skt', 'es', 'stl1', 'stl2', 'stl3', 'stl4', 'ssro',
       'slhf', 'ssr', 'str', 'sp', 'sro', 'sshf', 'ssrd', 'strd', 'e', 'tp',
       'swvl1', 'swvl2', 'swvl3', 'swvl4', 'support_Transformed_Latitude',
       'support_Transformed_Longitude', 'support_Month_Year',
       'support_lat_lon', 'support_Month_Year_lat_lon'],
      dtype='object')

In [32]:
support_data.shape

(25920, 43)

In [33]:
train.shape

(17172, 9)

In [34]:
test.head()

,Location,Disease,Month,Category_Health_Facility_UUID,Year,Transformed_Latitude,Transformed_Longitude,ID
0,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,1,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_1_2023...
1,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,2,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_2_2023...
2,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,3,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_3_2023...
3,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,4,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_4_2023...
4,ID_00cd8292-dd85-4fa3-8148-9592e88a1651,Diarrhea,5,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,2023,-8.52657,68.23638,ID_00cd8292-dd85-4fa3-8148-9592e88a1651_5_2023...

In [35]:
def find_nearest(hospital_df, location_df, lat_col, lon_col, id_col, month_col, year_col):
    nearest = {}
    
    for _, row in hospital_df.iterrows():
        # Filter location_df by matching Month and Year
        filtered_location_df = location_df[
            (location_df[month_col] == row['Month']) & 
            (location_df[year_col] == row['Year'])
        ]
        
        # If no locations match the Month and Year, assign NaN
        if filtered_location_df.empty:
            nearest[row['ID']] = np.nan
            continue
        
        # Create a cKDTree for the filtered locations
        tree = cKDTree(filtered_location_df[[lat_col, lon_col]].values)
        
        # Find the nearest neighbor in the filtered dataset
        _, idx = tree.query([row['Transformed_Latitude'], row['Transformed_Longitude']])
        nearest_location = filtered_location_df.iloc[idx]
        
        # Add the nearest location's id_col to the result
        nearest[row['ID']] = nearest_location[id_col]

    return nearest

In [36]:
train_nearest = find_nearest(train, support_data, "support_Transformed_Latitude", "support_Transformed_Longitude", "support_Month_Year_lat_lon", "support_Month", "support_Year")

train_nearest_df = pd.DataFrame(list(train_nearest.items()), columns=['ID', 'support_Month_Year_lat_lon'])

merged_train_data = train.merge(train_nearest_df, on="ID", how="left").merge(support_data, on="support_Month_Year_lat_lon", how="left")

In [37]:
test_nearest = find_nearest(test, support_data, "support_Transformed_Latitude", "support_Transformed_Longitude", "support_Month_Year_lat_lon", "support_Month", "support_Year")

test_nearest_df = pd.DataFrame(list(test_nearest.items()), columns=['ID', 'support_Month_Year_lat_lon'])

merged_test_data = test.merge(test_nearest_df, on="ID", how="left").merge(support_data, on="support_Month_Year_lat_lon", how="left")

In [38]:
train_nearest_df.shape

(13001, 2)

In [39]:
test_nearest_df.shape

(4872, 2)

In [40]:
train_nearest_df['support_Month_Year_lat_lon'].isna().sum()

0

In [41]:
merged_train_data.head()

,ID,Total,Location,Category_Health_Facility_UUID,Disease,Month,Year,Transformed_Latitude,Transformed_Longitude,support_Month_Year_lat_lon,...,e,tp,swvl1,swvl2,swvl3,swvl4,support_Transformed_Latitude,support_Transformed_Longitude,support_Month_Year,support_lat_lon
0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Dysentery,12,2022,-8.62982,68.23267,12_2022_-8.62979_68.23582,...,-0.001669,0.002401,0.237976,0.198944,0.169022,0.255707,-8.62979,68.23582,12_2022,-8.62979_68.23582
1,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Typhoid,12,2022,-8.62982,68.23267,12_2022_-8.62979_68.23582,...,-0.001669,0.002401,0.237976,0.198944,0.169022,0.255707,-8.62979,68.23582,12_2022,-8.62979_68.23582
2,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267,12_2022_-8.62979_68.23582,...,-0.001669,0.002401,0.237976,0.198944,0.169022,0.255707,-8.62979,68.23582,12_2022,-8.62979_68.23582
3,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Schistosomiasis,12,2022,-8.62982,68.23267,12_2022_-8.62979_68.23582,...,-0.001669,0.002401,0.237976,0.198944,0.169022,0.255707,-8.62979,68.23582,12_2022,-8.62979_68.23582
4,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,6.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Malaria,12,2022,-8.62982,68.23267,12_2022_-8.62979_68.23582,...,-0.001669,0.002401,0.237976,0.198944,0.169022,0.255707,-8.62979,68.23582,12_2022,-8.62979_68.23582

In [42]:
merged_train_data.shape

(17172, 52)

In [43]:
merged_train_data[['Month', 'Year', 'support_Year', 'support_Month','Transformed_Latitude', 'Transformed_Longitude','support_Transformed_Latitude', 'support_Transformed_Longitude']]

,Month,Year,support_Year,support_Month,Transformed_Latitude,Transformed_Longitude,support_Transformed_Latitude,support_Transformed_Longitude
0,12,2022,2022,12,-8.62982,68.23267,-8.62979,68.23582
1,12,2022,2022,12,-8.62982,68.23267,-8.62979,68.23582
2,12,2022,2022,12,-8.62982,68.23267,-8.62979,68.23582
3,12,2022,2022,12,-8.62982,68.23267,-8.62979,68.23582
4,12,2022,2022,12,-8.62982,68.23267,-8.62979,68.23582
...,...,...,...,...,...,...,...,...
17167,12,2022,2022,12,-8.63058,68.23478,-8.62979,68.23582
17168,12,2022,2022,12,-8.63058,68.23478,-8.62979,68.23582
17169,12,2022,2022,12,-8.63058,68.23478,-8.62979,68.23582
17170,12,2022,2022,12,-8.63058,68.23478,-8.62979,68.23582
17171,12,2022,2022,12,-8.63058,68.23478,-8.62979,68.23582

In [44]:
merged_train_data.columns

Index(['ID', 'Total', 'Location', 'Category_Health_Facility_UUID', 'Disease',
       'Month', 'Year', 'Transformed_Latitude', 'Transformed_Longitude',
       'support_Month_Year_lat_lon', 'support_Year', 'support_Month', '10u',
       '10v', '2d', '2t', 'evabs', 'evaow', 'evatc', 'evavt', 'albedo', 'lshf',
       'lai_hv', 'lai_lv', 'pev', 'ro', 'src', 'skt', 'es', 'stl1', 'stl2',
       'stl3', 'stl4', 'ssro', 'slhf', 'ssr', 'str', 'sp', 'sro', 'sshf',
       'ssrd', 'strd', 'e', 'tp', 'swvl1', 'swvl2', 'swvl3', 'swvl4',
       'support_Transformed_Latitude', 'support_Transformed_Longitude',
       'support_Month_Year', 'support_lat_lon'],
      dtype='object')

In [45]:
merged_train_data.duplicated().sum()

0

In [46]:
merged_train_data.drop_duplicates(inplace=True)
merged_train_data.shape

(17172, 52)

In [47]:
merged_train_data=merged_train_data.reset_index(drop=True)

In [48]:
merged_train_data.to_csv('Merged_Train_Data.csv',index=False)
merged_test_data.to_csv('Merged_Test_Data.csv',index=False)

In [49]:
merged_train_data.shape

(17172, 52)

In [50]:
merged_test_data.shape

(4872, 51)