In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
water=pd.read_csv("Data/water_sources.csv")
waste=pd.read_csv("Data/waste_management.csv")
toilet=pd.read_csv("Data/toilets.csv")

In [18]:
water.dropna(inplace=True)

In [19]:
water.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.57424,68.23761,1_2019,-8.57424_68.23761,1_2019_-8.57424_68.23761
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.57424,68.23761,2_2019,-8.57424_68.23761,2_2019_-8.57424_68.23761
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.57424,68.23761,3_2019,-8.57424_68.23761,3_2019_-8.57424_68.23761
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.57424,68.23761,4_2019,-8.57424_68.23761,4_2019_-8.57424_68.23761
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.57424,68.23761,5_2019,-8.57424_68.23761,5_2019_-8.57424_68.23761

In [20]:
waste.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.58518,68.25058,1_2019,-8.58518_68.25058,1_2019_-8.58518_68.25058
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.58518,68.25058,2_2019,-8.58518_68.25058,2_2019_-8.58518_68.25058
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.58518,68.25058,3_2019,-8.58518_68.25058,3_2019_-8.58518_68.25058
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.58518,68.25058,4_2019,-8.58518_68.25058,4_2019_-8.58518_68.25058
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.58518,68.25058,5_2019,-8.58518_68.25058,5_2019_-8.58518_68.25058

In [21]:
toilet.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
0,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.61768,68.24536,1_2019,-8.61768_68.24536,1_2019_-8.61768_68.24536
1,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.61768,68.24536,2_2019,-8.61768_68.24536,2_2019_-8.61768_68.24536
2,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.61768,68.24536,3_2019,-8.61768_68.24536,3_2019_-8.61768_68.24536
3,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.61768,68.24536,4_2019,-8.61768_68.24536,4_2019_-8.61768_68.24536
4,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.61768,68.24536,5_2019,-8.61768_68.24536,5_2019_-8.61768_68.24536

In [22]:
waste['dtype']='waste'
water['dtype']='water'
toilet['dtype']='toilet'

In [23]:
print("Waste Null Values",waste.shape)
print("Water Null Values",water.shape)
print("Toilet Null Values",toilet.shape)

Waste Null Values (5100, 44)
Water Null Values (10500, 44)
Toilet Null Values (10680, 44)

In [24]:
data=pd.concat([water,waste,toilet])

In [25]:
data.set_index('dtype',inplace=True)

In [26]:
data.shape

(26280, 43)

In [27]:
data=data.drop_duplicates()

In [28]:
data.head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
dtype,,,,,,,,,,,,,,,,,,,,,
water,2019,1,-1.006850,-0.714544,293.502,297.417,-0.002489,-0.001031,-0.000989,-3.445890e-08,...,0.006655,0.346542,0.335724,0.264359,0.300018,-8.57424,68.23761,1_2019,-8.57424_68.23761,1_2019_-8.57424_68.23761
water,2019,2,-1.408560,-0.662555,292.943,297.978,-0.002556,-0.001076,-0.000734,-3.818420e-08,...,0.003201,0.254517,0.259918,0.281769,0.296188,-8.57424,68.23761,2_2019,-8.57424_68.23761,2_2019_-8.57424_68.23761
water,2019,3,-0.892110,-0.449448,293.250,297.989,-0.002535,-0.000980,-0.000713,-3.678720e-08,...,0.004682,0.278152,0.284195,0.261597,0.291672,-8.57424,68.23761,3_2019,-8.57424_68.23761,3_2019_-8.57424_68.23761
water,2019,4,-0.392348,0.384925,293.934,296.542,-0.001748,-0.000658,-0.001343,-2.700840e-08,...,0.007518,0.385513,0.378616,0.309784,0.288925,-8.57424,68.23761,4_2019,-8.57424_68.23761,4_2019_-8.57424_68.23761
water,2019,5,-0.447104,0.581028,292.571,294.726,-0.001374,-0.000462,-0.001139,-2.048910e-08,...,0.005989,0.397659,0.400055,0.392654,0.309311,-8.57424,68.23761,5_2019,-8.57424_68.23761,5_2019_-8.57424_68.23761

In [29]:
data.sort_values('Month_Year_lat_lon').head()

,Year,Month,10u,10v,2d,2t,evabs,evaow,evatc,evavt,...,tp,swvl1,swvl2,swvl3,swvl4,Transformed_Latitude,Transformed_Longitude,Month_Year,lat_lon,Month_Year_lat_lon
dtype,,,,,,,,,,,,,,,,,,,,,
water,2019,10,-1.00380,-0.087302,293.012,296.35,-0.001423,-0.000729,-0.001092,0.0,...,0.006945,0.342346,0.314453,0.239990,0.216187,-8.47270,68.19970,10_2019,-8.4727_68.1997,10_2019_-8.4727_68.1997
waste,2019,10,-1.00380,-0.087302,293.012,296.35,-0.001423,-0.000729,-0.001092,0.0,...,0.006945,0.342346,0.314453,0.239990,0.216187,-8.47293,68.19939,10_2019,-8.47293_68.19939,10_2019_-8.47293_68.19939
waste,2019,10,-1.00380,-0.087302,293.012,296.35,-0.001423,-0.000729,-0.001092,0.0,...,0.006945,0.342346,0.314453,0.239990,0.216187,-8.47290,68.19939,10_2019,-8.4729_68.19939,10_2019_-8.4729_68.19939
water,2019,10,-1.00380,-0.087302,293.012,296.35,-0.001423,-0.000729,-0.001092,0.0,...,0.006945,0.342346,0.314453,0.239990,0.216187,-8.47484,68.17693,10_2019,-8.47484_68.17693,10_2019_-8.47484_68.17693
water,2019,10,-1.25868,0.188577,292.946,296.09,-0.001478,-0.000975,-0.000941,0.0,...,0.006517,0.334244,0.313004,0.238129,0.236496,-8.47690,68.31633,10_2019,-8.4769_68.31633,10_2019_-8.4769_68.31633